<html lang="en">
<head>
	<title></title>
	<link href="./public/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>


	<div class="summary">

		<div class="profile-info"></div>

		<div class="profile-options">

			<div class="options-wrapper">
				<div class="option" id="portfolio"><p>Portfolio</p></div>
				<div class="option" id="social"><p>Social</p></div>
				<div class="option" id="bio"><p>Bio</p></div>
			</div>
		</div>

		<div class="profile-preview"></div>


	</div>	

</body>
</html>