<html lang="en">
<head>
	<title></title>
	<link href="./public/styles.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>


	<div class="summary">

		<div class="profile-info">
			<div class="info-wrapper">
				<div class="pic-wrapper">
					<img id="profile-pic" src="./public/jpeg.jpg">
				</div>
				<h1 class="name">Laurie Lewis</h1>
				<p class="profession">Artist & Illustrator</p>
				<p class="short-bio">Please feel free to contact me directly if you would like to know more about what I do or request a commission.</p>
				<hr>
				<p class="network">University of Cambridge</p>
				<hr>
				<p class="organisations">Co-founder of <a href="#">Notes</a></p>
	<!-- 			<p class="featured-in">Featured in <a href="#">Notes</a></p>  -->
				<span><button id="follow"></button>
				<button id="message"></button></span>
			</div>

		</div>

		<div class="profile-options">

			<div class="options-wrapper">
				<div class="option" id="portfolio"><p>Work</p></div>
				<div class="option" id="social"><p>Picks</p></div>
				<div class="option" id="bio"><p>Story</p></div>
			</div>
		</div>

		<div class="profile-preview">

			<div class="info-wrapper preview-wrapper">


				<div class="work-preview">
					<div class="work-preview-header">
						<h3 id="selections">Selections</h3>
					</div>
					
					<div class="work" id="one">
						<div class="work-preview-info">
							<div id="info">
									<h1 class="preview-title">Chillies</h1>
									<p class="short-description">This is a short description of the art-work for the profile preview.</p>
									<div class="additional-info">
										<p class="recommendation-number">49</p>
										<p class="cool-information">Commissioned</p>
									</div>
							</div>
						</div>

						<div class="preview-pic pic-wrapper">
							<img id="profile-pic" src="./public/chillies.jpg">
						</div>

					</div>	

					<hr>

					<div class="work" id="two">
						<div class="work-preview-info">
							<div id="info">
								<h1 class="preview-title">Magic</h1>
								<p class="short-description">This is a short description of the art-work for the profile preview.</p>
								<div class="additional-info">
									<p class="recommendation-number">193</p>
									<p class="cool-information">Commissioned</p>
								</div>
							</div>
						</div>

						<div class="preview-pic pic-wrapper">
							<img id="profile-pic" src="./public/room.jpg">
						</div>

					</div>	

					<hr>

					<div class="work" id="three">
						<div class="work-preview-info">
								<div id="info">
									<h1 class="preview-title">New York</h1>
									<p class="short-description">This is a short description of the art-work for the profile preview.</p>
									<div class="additional-info">
										<p class="recommendation-number">121</p>
								<!-- 		<div class="cool-info-wrapper"> -->
											<p class="cool-information">Featured in <a href='#'>Notes</a></p>
			<!-- 							</div> -->
									</div>
							</div>
						</div>
							<div class="preview-pic pic-wrapper">
							<img id="profile-pic" src="./public/street.jpg">
						</div>
					</div>	

				</div>

			</div>


		</div>


	</div>	

</body>
</html>