<html lang="en" ng-app="profile">
<head>
	<title></title>
	<link href="./public/styles.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="./profile.js"></script>
</head>
<body ng-controller="PreviewController as preview">


	<div class="summary">

		<div class="profile-info">
			<div class="info-wrapper">
				<div class="pic-wrapper">
					<img id="profile-pic" src="./public/jpeg.jpg">
				</div>
				<h1 class="name">Laurie Lewis</h1>
				<p class="profession">Artist & Illustrator</p>
				<p class="short-bio">Please feel free to contact me directly if you would like to know more about what I do or request a commission.</p>
				<hr>
				<p class="network">University of Cambridge</p>
				<hr>
				<p class="organisations">Co-founder of <a href="#">Notes</a></p>
				<span><button id="follow"></button>
				<button id="message"></button></span>
			</div>

		</div>

		<div class="profile-options">

			<div class="options-wrapper">
				<div class="option" id="portfolio" ng-mouseenter="preview.selection = workSelection"><p>Work</p></div>
				<div class="option" id="social" ng-mouseenter="preview.selection = pickSelection"><p>Picks</p></div>
				<div class="option" id="bio"><p>Story</p></div>
			</div>
		</div>

		<div class="profile-preview">

			<div class="info-wrapper preview-wrapper">
				{{hello}}

				<div class="work-preview">
					<div class="work-preview-header">
						<h3 id="selections">Selections of Laurie's Work</h3>
					</div>

					<div class="work-wrapper" ng-repeat="work in preview.selection">
						<div class="work">
							<div class="work-preview-info">
								<div id="info">
										<h1 class="preview-title">{{work.title}}</h1>
										<p class="short-description">{{work.description}}</p>
										<div class="additional-info">
											<p class="recommendation-number">{{work.recommendations}}</p>
												<p class="cool-information">{{work.additionalInformation}}</p>
										</div>
								</div>
							</div>

							<div class="preview-pic pic-wrapper">
								<img id="profile-pic" ng-src="{{work.image}}">
							</div>
						</div>	
					<div class="hr-wrapper"><hr id="after-work" ng-show="!$last"></div>
				</div>




			</div>


		</div>
 
	</div>	

</body>
</html>