<html lang="en">
<head>
	<title></title>
	<link href="./public/styles.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>


	<div class="summary">

		<div class="profile-info">
			<div class="info-wrapper">
				<div class="pic-wrapper">
					<img id="profile-pic" src="./public/jpeg.jpg">
				</div>
				<h1 class="name">Laurie Lewis</h1>
				<p class="profession">Artist & Illustrator</p>
				<p class="short-bio">Please feel free to contact me directly if you would like to know more about what I do or request a commission.</p>
				<hr>
				<p class="network">University of Cambridge</p>
				<p class="organisations">Co-founder of <a href="#">Notes</a></p>
				<span><button id="follow">Follow</button>
				<button id="message">Message</button></span>
			</div>

		</div>

		<div class="profile-options">

			<div class="options-wrapper">
				<div class="option" id="portfolio"><p>Work</p></div>
				<div class="option" id="social"><p>Picks</p></div>
				<div class="option" id="bio"><p>Story</p></div>
			</div>
		</div>

		<div class="profile-preview">

			<div class="info-wrapper preview-wrapper">

			</div>


		</div>


	</div>	

</body>
</html>