@import url('http://reset5.googlecode.com/hg/reset.min.css');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('http://fonts.googleapis.com/css?family=Merriweather:400,300,700');
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,900');
@import url('http://fonts.googleapis.com/css?family=Vollkorn:400italic,400');


body {
	margin: 0px;
	font-family: "Lato", sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

div.summary {
/*	background: url('./picasso.jpg') no-repeat center center fixed;*/
	background-position: 25% 0%;
	height: 100%;
	width: 100%;
	background-size: cover;
	display: flex;
}

.profile-info {
	height: 100%;
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-options {
	height: 100%;
	width: 10%;
}

.profile-preview {
	height: 100%;
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.options-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.option {
	border-radius: 50%;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border: solid;
	border-width: thin;
	border-color: rgba(0,0,0,0.2);
	margin-bottom: 3.5vh;
	cursor: pointer;
}

.option:hover {
	border-color: rgba(0,0,0,0.4);
}

.option:hover .option p {
	color: rgba(0,0,0,0.4)
}

.option p {
	font-size: 1.3vh;
	text-align: center;
	vertical-align: center;
	margin-top: 45%;
	color: rgba(0,0,0,0.4);
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.13vh;
}

div.info-wrapper {
	width: 70%;
	height: 30vw;
	margin-top: -4.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.preview-wrapper {
	height: 70vh;
/*	background-color: orange;*/
}

div.pic-wrapper {
	border-radius: 50%;
	width: 12vw;
	height: 0;
	padding-bottom: 12vw;
	border: solid;
	border-width: thin;
	border-color: rgba(0,0,0,0.2);
	overflow: hidden;
}

img#profile-pic {
	height: 100%;
	width: 100%;
}

div.info-wrapper p {
/*	opacity: 0.4;*/
	color: #b3b2b5;
	text-align: center;
}

h1.name {
	font-size: 3.5vh;
	margin: 1vh 0 1vh 0;
}

p.profession {
	margin-bottom: 1.25vh;
	font-size: 1.5vh;
/*	text-transform: uppercase;*/
	letter-spacing: 0.2em;
	font-family: 'Vollkorn', serif;
	font-style: italic;
}

p.short-bio, p.network, p.organisations, p.featured-in {
	font-size: 1.5vh;
	width: 65%;
	line-height: 2.4vh;
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

p.network, p.organisations {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

hr {
	color: black;
	margin: 1vh 0 0 0;
	padding: 0;
	width: 10vw;
}

button {
	background: none;
	border: 1px solid #b3b2b5;;
	border-radius: 50px;
	font-family: inherit;
	font-size: 2vh;
	color: #b3b2b5;
	width: 6vw;
	height: 5vh;
	text-align: center;
	vertical-align: center;
}
